@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.navbar-burger {
  display: none;
  }
  
.navbar-menu {
display: flex;
}

@media screen and (max-width:600px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: flex;
  }
}



